<!DOCTYPE html>
<!--[if lt IE 7]><html class="no-js ie6 lt-ie9 lt-ie8 lt-ie7"><![endif]-->
<!--[if IE 7]><html class="no-js ie7 lt-ie9 lt-ie8"><![endif]-->
<!--[if IE 8]><html class="no-js ie8 lt-ie9"><![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->

<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>WiFi isn’t just business-critical – it has come of age</title>
    <meta charset="utf-8">
    <link rel="canonical" href="https://www.arqivawifi.com/views/our-views/wifi-isnt-just-business-critical-it-has-come-of-age/" />
    <meta name="description" content="Arqiva look back at WiFi for business and how it has evolved from the early adopters to being business critical. See how WiFi has come of age and what your business might be missing out on.">
    <link rel="icon" href="/application/images/favicon.ico" type="image/x-icon" />
    <link rel="shortcut icon" href="/application/images/favicon.ico" type="image/x-icon">
    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, width=device-width">
    <link href="/application/css/style.css" media="all" rel="stylesheet" />
    <meta name="google-translate-customization" content="a895fe33dbdfb683-1415344a3d45adce-gfdc32fbc0d68721b-e">
    <!-- <meta property="og:locale" content="en_GB" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="WiFi isn’t just business-critical – it has come of age" />
    <meta property="og:description" content="Arqiva look back at WiFi for business and how it has evolved from the early adopters to being business critical. See how WiFi has come of age and what your business might be missing out on." />
    <meta property="og:site_name" content="Arqiva" />
    <meta property="og:url" content="https://www.arqivawifi.com/views/our-views/wifi-isnt-just-business-critical-it-has-come-of-age/" />
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@arqiva">
    <meta name="twitter:title" content="WiFi isn’t just business-critical – it has come of age">
    <meta name="twitter:description" content="Arqiva look back at WiFi for business and how it has evolved from the early adopters to being business critical. See how WiFi has come of age and what your business might be missing out on.">
    <meta name="twitter:url" content="https://www.arqivawifi.com/views/our-views/wifi-isnt-just-business-critical-it-has-come-of-age/">
    <meta name="twitter:image:src" content="https://www.arqivawifi.com/contentAsset/image/5e72316e-450c-4271-ba84-98fbe13398c4/fileAsset/filter/Resize,Crop,Jpeg/resize_w/862/crop_w/862/crop_h/484/crop_x/0/crop_y/0/jpeg_q/80/5e72316e-450c-4271-ba84-98fbe13398c4.jpg">
    <meta property="og:image" content="https://www.arqivawifi.com/contentAsset/image/5e72316e-450c-4271-ba84-98fbe13398c4/fileAsset/filter/Resize,Crop,Jpeg/resize_w/862/crop_w/862/crop_h/484/crop_x/0/crop_y/0/jpeg_q/80/5e72316e-450c-4271-ba84-98fbe13398c4.jpg" />
    <meta property="og:locale" content="en_GB" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="WiFi isn’t just business-critical – it has come of age" />
    <meta property="og:description" content="Arqiva look back at WiFi for business and how it has evolved from the early adopters to being business critical. See how WiFi has come of age and what your business might be missing out on." />
    <meta property="og:site_name" content="Arqiva" />
    <meta property="og:url" content="https://www.arqivawifi.com/views/our-views/wifi-isnt-just-business-critical-it-has-come-of-age/" /> -->
    <script type="application/ld+json">
    {
        "@context": "http://schema.org",
        "@type": "BreadcrumbList",
        "itemListElement": [{
            "@type": "ListItem",
            "position": 1,
            "item": {
                "@id": "https://www.arqivawifi.com/",
                "name": "Home"
            }
        }, {
            "@type": "ListItem",
            "position": 2,
            "item": {
                "@id": "/views/",
                "name": "Views"
            }
        }, {
            "@type": "ListItem",
            "position": 3,
            "item": {
                "@id": "/views/our-views/wifi-isnt-just-business-critical-it-has-come-of-age/",
                "name": "WiFi isn’t just business-critical – it has come of age"
            }
        }]
    }
    </script>
    
    <!--[if lt IE 9]><script src="/application/js/modernizr.custom.07018.html5shim.js"></script><![endif]-->
</head>

<body id="article">
    <div id="wrapper">
        <div id="header"><span id="logo"><img src="/application/images/logo/arqiva-logo-hub.png" alt="" /><a href="/">Arqiva</a></span>
            <div id="globalNavBar">/
                <ul class="nav">
                    <li><a href="/support/wifi/"> WiFi Support</a></li>
                </ul>
            </div>
            <div id="primaryNavBar">
                <ul class="nav">
                    <li><a id="wifi" href="/wifi/">WiFi</a>
                        <div class="sub-nav-wrapper">
                            <div class="sub-nav-container"><strong>Find out more about...</strong>
                                <div class="group">
                                    <div class="col one-quarter sub-nav no-left-margin">
                                        <h3>Business type</h3>
                                        <ul>
                                            <li><a href="/overviews/wifi/airports/">Airports</a></li>
                                            <li><a href="/overviews/wifi/conference-centres-venues/">Conference centres & Venues</a></li>
                                            <li><a href="/overviews/wifi/hotels/">Hotels</a></li>
                                            <li><a href="/overviews/wifi/property-development/">Property Development</a></li>
                                            <li><a href="/overviews/wifi/hospitality-and-leisure/">Pubs & Restaurants</a></li>
                                            <li><a href="/overviews/wifi/retail/">Retail</a></li>
                                            <li><a href="/overviews/wifi/retail-banking/">Retail Banking</a></li>
                                            <li><a href="/overviews/wifi/wireless-concessions/">Wireless Concessions</a></li>
                                        </ul>
                                    </div>
                                    <div class="col one-quarter sub-nav no-left-margin">
                                        <h3>Services</h3>
                                        <ul>
                                            <li><a href="/overviews/wifi/bespoke-wifi-solutions/">Business WiFi solutions</a></li>
                                            <li><a href="/overviews/wifi/digital-signage/">Digital Signage</a></li>
                                            <li><a href="/overviews/wifi/overlay/">Overlay</a></li>
                                            <li><a href="/overviews/wifi/wholesale/">Wholesale</a></li>
                                        </ul>
                                    </div>
                                    <div class="col one-quarter sub-nav no-left-margin">
                                        <h3>Technologies</h3>
                                        <ul>
                                            <li><a href="/overviews/wifi/distributed-antenna-system--inbuilding/">Distributed Antenna System  /  InBuilding</a></li>
                                        </ul>
                                    </div>
                                    <div class="col one-quarter">
                                        <div class="solutions">
                                            <h3>Case Studies</h3>
                                            <ul>
                                                <li><a href="/case-studies/providing-premier-wifi-to-premier-inn/">Providing premier hotel WiFi to Premier Inn</a></li>
                                                <li><a href="/case-studies/public-wifi-services-lift-off-at-british-airways/">Public WiFi services lift off at British Airways</a></li>
                                                <li><a href="/case-studies/in-building-systems-give-shoppers-mobile-services/">In-building systems give shoppers mobile services</a></li>
                                                <li><a href="/case-studies/olympian-effort-gets-excel-london-ready-for-games/">Olympian effort gets ExCeL London ready for Games</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li> <a href="/news/">WiFi News</a></li>
                    <li> <a href="/views/">Views</a></li>
                    <li> <a href="/support/wifi/">WiFi Support</a></li>
                    <li> <a href="/contact-us/">Contact Us</a></li>
                </ul>
            </div>
        </div>
        <div id="banner" class="small-banner">
            <div class="banner-content">
                <h4>Our Views</h4></div>
        </div>
        <div id="contentWrapper">
            <div id="content" class="section">
                <div class="group">
                    
                    <div id="storyHolder" class="col three-quarters no-hover no-bg no-left-margin">
                        <div class="group">
                            <div class="col full no-hover">
                                <div id="story">
                                    <div class="type-bar our-views">
                                        <p class="type"><span class="icon"></span><a href="/">Home</a> > <a href="/views/"><span>Views</span></a> > <a href="/views/our-views/wifi-isnt-just-business-critical-it-has-come-of-age/"><span>WiFi isn’t just business-critical – it has come of age</span></a></p>
                                    </div>
                                    <div class="title-bar">
                                        <div class="date" itemprop="datePublished" content="2016-03-09">09/03/2016</div>
                                        <h1>WiFi isn’t just business-critical – it has come of age</h1></div>
                                    <div class="byline-bar clearfix">
                                        <p>By <span>Dave Wardell, Sales Director - WiFi & Small Cells</span></p>
                                        
                                    </div>
                                    <div class="intro">
                                        <p itemprop="articleSection">The WiFi Alliance was formed in 1999 to promote a better user experience for this new, burgeoning technology. Now, some 17 years on, WiFi is coming of age.</p>
                                    </div>
                                    <div class="article">
                                        <div class="video"><img itemprop="image" src="/contentAsset/image/5e72316e-450c-4271-ba84-98fbe13398c4/fileAsset/filter/Resize,Crop,Jpeg/resize_w/862/crop_w/862/crop_h/484/crop_x/0/crop_y/0/jpeg_q/80/5e72316e-450c-4271-ba84-98fbe13398c4.jpg" alt="The world has moved on since the days of just getting public WiFi “because everybody's doing it.” WiFi technology has also moved on. It’s come of age. " width="862" height="484" />
                                            <p class="caption">The world has moved on since the days of just getting public WiFi “because everybody's doing it.” WiFi technology has also moved on. It’s come of age.</p>
                                        </div>
                                        <div class="phone-contacts"></div><span itemprop="articleBody"><p>Looking back through the world of WiFi, even rewinding just three years would show that most companies operated no more than a corporate network. These were rolled out primarily for administrative purposes, to be used exclusively by staff and approved visitors. Only in certain cases was a public service extended out to consumer locations such as hotels, restaurants, pubs and cafes. Before long, this reliance on connectivity grew and everybody jumped on the public WiFi bandwagon. Businesses were ringing with the sound of: "You have to have WiFi, consumers expect it."</p>
<p>The first movers took something of a risk. Even though they knew that WiFi was a big attraction for consumers, there was no business case for it and very few &ndash; if any &ndash; realistically expected it to drive revenue. In fact most only offered connectivity for the kudos and potential competitive advantage that a &lsquo;WiFi here&rsquo; sticker in their window would offer.</p>
<h2>A glimpse of what was to come</h2>
<p>Though results from this may have been slow in coming, these first movers did more than just gain consumer respect and put the squeeze on their competitors; they changed the entire way that companies view WiFi &ndash; and what the technology is capable of.</p>
<p>Virtually all of these first movers rolled out a public WiFi network that was completely separate from their corporate WiFi network. Possibly with safety in mind, they kept the two resolutely apart &ndash; one connection for their customers and another for the business. It served a purpose, that cannot be denied but it also paved the way for change.</p>
<p>Since then the world of business WiFi has changed. Whilst the old offering had its benefits, the reality was that companies would effectively run two networks, two lots of connectivity into their branches, pay two costs and have two networks to look after.</p>
<p>Now, companies have learned that there&rsquo;s an alternative. Modern, sophisticated WiFi networks are converged, meaning corporate and public are run over the same infrastructure. A network such as this can even be used as a fail-over for the corporate wired LAN .</p>
<h2>A secure fail-over</h2>
<p>Take a hypothetical bank as an example. A disaster causes it to lose its entire network, meaning that the IT network throughout the buildings prove useless. Equally out of action are the billing systems, meaning that bank transactions and basically everything that helps the bank operate on a day-to-day basis, fails.</p>
<p>Thankfully, this bank runs a trusted WiFi network to a strict set of SLAs that can act as a failover for the corporate LAN. In the worst case scenario it would be able to run the entire company via WiFi &ndash; and moreover, it can do so in a way that&rsquo;s also compliant with FCA regulations. Our bank has created a corporate, BYOD side to its WiFi offering, meaning employees can still get online through their individual devices.</p>
<h2>Growing up</h2>
<p>The above scenario may not seem like it&rsquo;s a world away from the two-tier WiFi offering prevalent just a few years ago, but it&rsquo;s a huge development. It&rsquo;s grown-up WiFi.</p>
<p>Any businesses looking to really do WiFi properly in today&rsquo;s business world would do it this way. Corporate WiFi is business-critical, but converged corporate and public WiFi is a step beyond even this. The benefits speak for themselves: it saves money, can support a Disaster Recovery (DR) strategy, bolsters workplace agility, saves running two networks, reduces the supply chain, improves resilience and so much more.</p>
<p>The world has moved on since the days of just getting public WiFi &ldquo;because everybody's doing it.&rdquo; WiFi technology has also moved on. It&rsquo;s come of age.</p></span></div>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                    <div id="sideBar" class="col one-quarter no-hover no-bg no-left-margin">
                        <h2>Contact Us</h2>
                        <div class="col news white-text imageLinkModule full"><img src="/contentAsset/image/news/77e3504e-36d7-4167-b925-52ada2a74b70.jpg" alt="Arqiva Media and PR Team" width="295" height="295" class="panel-bg">
                            <div class="panel-contents">
                                <h3>Press and media enquiries</h3>
                                <p></p>
                                <p></p>
                                <h3>+44 (0)&nbsp;7583 017130</h3>
                                <p></p>
                                <h2>E: wifisupport@virginmedia.co.uk</h2></div>
                        </div>
                        <noscript>&lt;style&gt;#twitterTimeline { display: none; }&lt;/style&gt;</noscript>
                    </div>
                </div>
            </div>
        </div>
        
        <div id="footer">
            <div id="footerContentWrapper">
                <div id="footerContent" class="section group">
                    <div class="col half">
                        <h3>About Arqiva WiFi</h3>
                        <ul class="about-links">
                            <li><a href="/about/">About us</a></li>
                            <li><a href="/contact-us/">Contact us</a></li>
                        </ul>
                    </div>
                    <div itemscope itemtype="http://schema.org/LocalBusiness" class="col one-quarter">
                        <h3>Talk to us</h3>
                        <p itemprop="telephone" class="tel">+44 (0)1442 205500</p>
                        <p itemprop="telephone" class="tel">0330 303 2600 ( UK only)</p>
                        <p class="email visible">
                            <a href="mailto:reception.hemel@arqiva.com?subject=Web Enquiry&amp;body=I'm interested in /wifi/"> <span itemprop="email">Reception.Hemel@arqiva.com</span> </a>
                        </p>
                    </div>
                    <div class="col one-quarter">
                        <h3>Follow us</h3>
                        <ul class="social-links">
                            <li class="twitter"><a href="https://twitter.com/arqivawifi" target="_blank">Twitter</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div id="footerNavBarWrapper"></div>
        </div>
        <a href="/home/assets.html" class="mirrorAll">1</a></div>
    <input type="hidden" id="servicesEndpoint" value="https://services.arqiva.com" />
    <script src="/application/js/jquery.min.js"></script>
    <script src="/application/js/jquery-ui-1.11.4-custom.min.js"></script>
    <script src="/application/js/modernizr.custom.97458.js"></script>
    <script src="/application/js/core.js"></script>
    <script>
    WebFontConfig = {
        custom: {
            families: ['FS Albert Web Bold', 'FS Albert Web Regular'],
            urls: ['/application/css/fonts/fonts.css']
        }
    };
    (function(d) {
        var wf = d.createElement('script'),
            s = d.scripts[0];
        wf.src = '/application/js/webfont.js';
        s.parentNode.insertBefore(wf, s);
    })(document);
    </script>
    
    <!--[if gte IE 8]><!-->
    
    
    <!--<![endif]-->
</body>

</html>
